include README.md
include vizuka/data/*
include vizuka/data/tSNE/.gitkeep
include vizuka/data/set/.gitkeep
include vizuka/data/graph/.gitkeep
include vizuka/data/models/.gitkeep
include vizuka/requirements/requirements.txt
